/* импортирование обычного шрифта */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(./vendor/fonts/Inter-Regular.woff) format("woff"),
    url(./vendor/fonts/Inter-Regular.woff2) format("woff2"),
    url(./vendor/fonts/Inter-Regular.ttf) format("ttf"),
    url(./vendor/fonts/Inter-Regular.svg) format("svg");
}
/* импортирование черного шрифта */
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url(./vendor/fonts/Inter-Black.woff) format("woff"),
    url(./vendor/fonts/Inter-Black.woff2) format("woff2"),
    url(./vendor/fonts/Inter-Black.ttf) format("ttf"),
    url(./vendor/fonts/Inter-Black.svg) format("svg");
}
/* импортирование жирного шрифта */
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(./vendor/fonts/Inter-Bold.woff) format("woff"),
    url(./vendor/fonts/Inter-Bold.woff2) format("woff2"),
    url(./vendor/fonts/Inter-Bold.ttf) format("ttf"),
    url(./vendor/fonts/Inter-Bold.svg) format("svg");

}

.body {
  background-color: black;
}

.page {
  background-color: black;
  max-width: 880px;
  padding: 45px 200px;
  margin: 0 auto;
}

.header {
  padding: 0 0 3.125vw;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  margin: 0 auto;
}

.profile {
  color: white;
  display: flex;
  max-width: 880px;
  padding: 40px 0 50px;
  justify-content: space-between;
  margin: 0 auto;
}

.profile__content {
  display: flex;
  max-width: 486px;
}

.profile__img {
  margin: 0 30px 0 0;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
}

.profile__info {
  max-width: max-content;
  /* padding: 22px 0 0 0; */
}

.profile__name {
  margin: 22px 0 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  /* line-height: 48px; */
  /* font-size: calc(38px + 10 * ((100vw - 1024px) / (1280 - 1024))); */
}

.profile__job {
  max-width: 294px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* max-width: max-content; */
}

.profile__edit {
  background-image: url(./images/editbutton.svg);
  width: 24px;
  height: 24px;
  margin: 34px 5px 0 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.profile__add {
  background-image: url(./images/addbutton.svg);
  background-color: transparent;
  margin: 22px 0 0;
  border: 0;
  width: 150px;
  height: 50px;
  padding: 0;
}

.elements {
  max-width: 880px;
  margin: 0 auto;
}

.cards {
  max-width: 880px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 1.25vw;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  /* max-width: 282px; */
  /* max-height: 361px; */
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card__item {
  display: flex;
  /* max-width:246px; */
  justify-content: space-between;
  padding: 25px 15px 25px 21px;
}

.card__title {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__img {
  /* width: 100%; */
  /* height: 100%; */
}

.card__like {
  background-image: url(./images/Vector\ \(Stroke\).svg);
  width: 22px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: 0;
  align-self: center;
}

.footer {
  max-width: 880px;
  color: #545454;
  margin: 0 auto;
  padding: 67px 0 60px;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

