.profile__add {
  background-image: url(../../../images/addbutton.svg);
  background-color: transparent;
  margin: 33px 0 0;
  border: 0;
  width: 150px;
  height: 50px;
  padding: 0;
  cursor: pointer;
}

.profile__add:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {

  .profile__add {
    margin: 33px auto 0;
    width: 282px;
    background-image: url(../../../images/AddButtonmobile.svg);
    /* Ковер тут не поможет т.к и остальные свойства background-size т.к. картинка этой кнопки сама по себе отличается на брифе она растянута и тонкая,
    а если так сделать со старой картинкой и этим свойством, она будет не похожа на ту, что в брифе, поэтому надо оставить так */
  }
}