.modal__inner {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 426px;
  /* height: 330px; */
  margin: 211px auto 0;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

  .modal__inner {
    width: 282px;
    height: 322px;
  }
}