.modal__name {
  margin: 54px auto 0;
  width: 100%;
  padding-bottom: 13px;
  border: 0;
  border-bottom: 1px solid #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1024px) {

  .modal__name {
    padding-left: 0;
    padding-right: 0;
  }
}